alembic==1.4.1
altair==4.1.0
argon2-cffi @ file:///C:/ci/argon2-cffi_1613037959010/work
astor==0.8.1
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
azure-core==1.11.0
azure-storage-blob==12.7.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
base58==2.1.0
bleach @ file:///tmp/build/80754af9/bleach_1612211392645/work
blinker==1.4
blis==0.7.4
cachetools==4.2.1
catalogue==2.0.1
catboost==0.24.4
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247279197/work
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlover==0.3.0
combo==0.1.2
confuse==1.4.0
cryptography==3.4.5
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
databricks-cli==0.14.1
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
defusedxml @ file:///home/ktietz/src/ci_mi/defusedxml_1612808095953/work
docker==4.4.2
entrypoints==0.3
Flask==1.1.2
funcy==1.15
future==0.18.2
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.13
graphviz==0.16
htmlmin==0.1.12
idna==2.10
ImageHash==4.2.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel==5.4.3
ipython @ file:///C:/ci/ipython_1612212935303/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib==1.0.1
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client==6.1.11
jupyter-core @ file:///C:/ci/jupyter_core_1612213356021/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kmodes==0.11.0
lightgbm==3.1.1
llvmlite==0.35.0
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.3.4
missingno==0.4.2
mistune==0.8.4
mlflow==1.13.1
mlxtend==0.18.0
msrest==0.6.21
murmurhash==1.0.5
nbclient==0.5.2
nbconvert @ file:///C:/ci/nbconvert_1601914925608/work
nbformat @ file:///tmp/build/80754af9/nbformat_1610738111109/work
nest-asyncio==1.5.1
networkx==2.5
nltk==3.5
notebook @ file:///C:/ci/notebook_1611348396724/work
numba==0.52.0
numexpr==2.7.2
numpy==1.19.5
oauthlib==3.1.0
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
pandas==1.2.2
pandas-profiling==2.10.1
pandocfilters @ file:///C:/ci/pandocfilters_1605102497129/work
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pathy==0.4.0
patsy==0.5.1
phik==0.11.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.1.0
plotly==4.14.3
preshed==3.0.5
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prometheus-flask-exporter==0.18.1
prompt-toolkit==3.0.16
protobuf==3.14.0
psutil==5.8.0
pyarrow==3.0.0
pycaret==2.2.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.7.3
pydeck==0.6.1
Pygments==2.8.0
pyLDAvis==3.2.0
pynndescent==0.5.2
pyod==0.8.6
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
querystring-parser==1.2.4
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.6.0
seaborn==0.11.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
six @ file:///C:/ci/six_1605187374963/work
smart-open==3.0.0
smmap==3.0.5
spacy==3.0.3
spacy-legacy==3.0.1
SQLAlchemy==1.3.23
sqlparse==0.4.1
srsly==2.4.0
statsmodels==0.12.2
streamlit==0.76.0
suod==0.0.6
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
terminado==0.9.2
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
textblob==0.15.3
thinc==8.0.1
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm==4.56.2
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typer==0.3.2
tzlocal==2.1
umap-learn==0.5.1
urllib3==1.26.3
validators==0.18.2
visions==0.6.0
waitress==1.4.4
wasabi==0.8.2
watchdog==2.0.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.8.1
xgboost==1.3.3
yellowbrick==1.3.post1
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
